{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} Felicidades {% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-8 col-centered text-center">
                <h1>Tu solicitud ha sido sido enviada</h1>
                <h3>Nos pondremos en contacto a través de los siguientes datos: </h3>
                <p><b>Nombre:</b> {{ nombre_contacto }} - <b>Empresa:</b> {{ nombre_empresa }}</p>
                <p><b>Correo:</b> {{ email }} - <b>Teléfono:</b> {{ telefono }}</p>
                <br>
                <a href="{% url 'servicios_app:home' %}" class="btn btn-success btn-lg">Ir al inicio</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}
