{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Continuar{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row m-b-xl row-centered">
            <div class="col-xs-12 col-centered">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>
                            Completa algunos datos para continuar
                        </h3>
                        <h5>Son necesarios para poder conactarte y brindarte el mejor servicio.</h5>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" accept-charset="utf-8"
                              action="{% url 'servicios_app:finalizar_contacto' %}">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in contacto_form %}
                                    <div class="col-md-6">
                                        <div class="form-group {% if field.errors %}has-error{% endif %} ">

                                            {{ field.label_tag }}
                                            {{ field }}

                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <label class="text-danger">
                                                        {{ error|safe }}&nbsp;&nbsp;
                                                        <i class="fa fa-exclamation-circle text-danger"></i>
                                                    </label>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-signin pull-right m-t-md" id="btn-submit"
                                                type="submit"
                                                name="contacto_form" style="margin-top: 30px;">Continuar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'base/js/jquery.mask.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('input[name="telefono"], input[name="telefono_adicional"]').mask('0###-#');
            $('input[name="extension"]').mask('#');
        });
        $('form').submit(function () {
            $('input[name="plan"]').val(parseInt('{{ plan_seleccionado.id }}') + '{{ plan_seleeccionado.titulo }}');
        });
    </script>

{% endblock %}
