{% extends "base/base_no_sidebar.html" %}

{% block title %}Reseteo de contraseña{% endblock %}

{% block styles %}
    <style>
        #page-wrapper {
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block content %}

    {% if validlink %}
        <div class="row m-t-xl">
            <div class="col-md-5">
                <div class="animated fadeInDown p-lg">
                    <h2 class="font-bold m-b-lg">Ingresa tu nueva contraseña</h2>

                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.new_password1.errors }}
                        <div class="form-group">
                            <p for="id_new_password1">Nueva contraseña</p>
                            <input autofocus pattern=".{4,}" class="form-control" type="password" name="new_password1" required/></p>
                        </div>
                        {{ form.new_password2.errors }}
                        <div class="form-group">
                            <p for="id_new_password2">Confirma nueva contraseña:</p>
                            <input pattern=".{4,}" class="form-control" type="password" name="new_password2" required/>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Reiniciar mi contraseña"/>
                    </form>
                </div>
            </div>
        </div>

    {% else %}

        <div class="row m-t-xl">
            <div class="col-xs-8">
                <div class="animated fadeInDown p-lg">
                    <h2 class="font-bold m-b-lg"><span class="text-danger"><i class="fa fa-times m-l-sm"></i></span>
                        Éste link ha expirado </h2>

                    <p>El link está deshabilitado tal vez porque ya ha sido utilizado o ha vencido.</p>
                </div>
            </div>
        </div>

        <div class="row m-t-xl">
            <div class="col-xs-8">
                <div class="animated fadeInDown p-lg">
                    <h1>Sentimos el inconveniente :(</h1>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
