{% extends "base/base_no_sidebar.html" %}

{% block styles %}
    <style>
        #page-wrapper {
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block title %}
    Recuperacion de contraseña Exitoso
{% endblock %}

{% block content %}

    <div class="row m-t-xl">
        <div class="col-xs-8">
            <div class="animated fadeInDown p-lg">
                <h2 class="font-bold m-b-lg">
                    <span class="text-info">
                        <i class="fa fa-check m-l-sm"></i>
                    </span>Recuperación de contraseña exitoso
                </h2>
                <p>
                    Hemos enviado instrucciones a tu correo para recuperar tu contraseña. Deberías recibirlo en breve.
                </p>
                <p>
                    Si no recibes nigún email solicítalo de nuevo <a class="font-bold" href="{% url 'reset_password_reset1' %}">aquí</a> o por favor asegúrate de haber ingresado el correo con el que te registraste y/o checar tu bandeja de spam.
                </p>
            </div>
        </div>
    </div>



{% endblock %}
