{% load staticfiles %}
{% load static swampdragon_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-STORE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-STORE">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}{% endblock %} - Karussa</title>

    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'base/css/remodal/remodal.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/remodal/remodal-default-theme.css' %}">

    <link rel="stylesheet" href="{% static 'base/css/base.css' %}"/>

    <style>
        body {
            /*background-image: url(
        {% static 'base/img/flowers.png' %} );*/
        }
    </style>

    {% block styles %}

    {% endblock %}

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'servicios_app:home' %}">Karussa</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'superuser_app:superuser' %}">Superuser</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user.isCreador %}
                        <li><a href="{% url 'usuarios_app:creador' %}">Administradores</a></li>
                    {% endif %}
                    {% if user.isMonitor %}
                        <li><a href="{% url 'usuarios_app:monitor' %}">Monitores</a></li>
                    {% endif %}
                    {% if user.isGodinez %}
                        <li><a href="{% url 'usuarios_app:godinez' %}">Usuarios</a></li>
                    {% endif %}
                {% endif %}
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>s
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'servicios_app:contacto' %}">Contáctanos</a></li>
                    <li class="hidden"><a href="{% url 'servicios_app:configurar' %}">Configurar empresa</a></li>
                    <li><a href="{% url 'usuarios_app:login' %}">Iniciar sesión</a></li>
                {% else %}
                    <li>
                        <a href="{% url 'instaladores_app:descargar_instalador' %}">Descarga KarussApp</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            ¡Hola {{ user.get_short_name }}!
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% if user.isCreador %}
                                <li><a href="{% url 'usuarios_app:creador' %}">Vista Administrador</a></li>
                            {% endif %}
                            {% if user.isMonitor %}
                                <li><a href="{% url 'usuarios_app:monitor' %}">Vista Monitor</a></li>
                            {% endif %}
                            {% if user.isGodinez %}
                                <li><a href="{% url 'usuarios_app:godinez' %}">Vista Usuario</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'empresa_app:logout' %}">Salir</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="progress-page" class="progress progress-striped active" style="display: none;">
    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
</div>

{% block content %}

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'base/js/bootstrap.js' %}"></script>
<script src="//cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="//cdn.jsdelivr.net/jquery.validation/1.14.0/additional-methods.min.js"></script>
<script src="{% static 'base/js/jquery.validate.español.js' %}"></script>
<script src="{% static 'base/js/jquery.blockUI.js' %}"></script>

<script>
    $.blockUI.defaults.message = '<i class="fa fa-refresh fa-spin fa-5x text-white"></i><p>Espere por favor, no recargue ni cierre la página</p>';
    $.blockUI.defaults.css = {
        padding: 0,
        margin: 0,
        width: '30%',
        top: '40%',
        left: '35%',
        textAlign: 'center',
        color: '#fff',
        border: 'none',
        backgroundColor: 'transparent',
        cursor: 'wait'
    };

    window.REMODAL_GLOBALS = {
        DEFAULTS: {
            hashTracking: false
        }
    };
</script>
<script src="{% static 'base/js/remodal/remodal.min.js' %}"></script>

{% if user.is_authenticated %}
    <!-- SwampDragon -->
    {% swampdragon_settings %}
    <script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>

    <!-- notifications -->
    <script type="text/javascript" src="{% static 'notificaciones/karussa_notificaciones.js' %}"></script>
{% endif %}
{% comment %}

    <script type="text/javascript" src="{% static 'notificaciones/notificaciones.js' %}"></script>
    <script type="text/javascript" src="{% static 'notificaciones/notifications.js' %}"></script>
    <script type="text/javascript" src="{% static 'notificaciones/karussa_notificaciones.js' %}"></script>
    <script type="text/javascript" src="{% static 'notificaciones/notificaciones.js' %}"></script>
{% endcomment %}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).on('click', '.btn-progress', function () {
        $('#progress-page').fadeIn();
    });

</script>

{% block scripts %}

{% endblock %}


</body>
</html>