{% extends 'base/base.html' %}


{% block title %}
    Empresas
{% endblock %}


{% block styles %}

    <style>
        .avatar {
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }
    </style>

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Lista de empresas:
                    <a class="btn btn-success pull-right" href="{% url 'superuser_app:crear_empresa' %}">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;Crear empresa
                    </a>
                </h2>
                <table class="table table-hover table-bordered" style="margin-top: 20px;">
                    <thead>
                    <tr>
                        <th>Nombre de la empresa</th>
                        <th>Administrador</th>
                        <th>Paquetes activos</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for empresa in empresas %}
                        {% if not empresa.tiene_paquetes_activos %}
                            <tr class="active">
                                {% else %}
                            <tr>
                        {% endif %}
                    <td>
                        <img class="img-thumbnail avatar" src="{{ empresa.logo_url }}" alt="logo">
                        <strong>{{ empresa.nombre }}</strong>
                    </td>
                    <td>
                        {{ empresa.correo }}
                    </td>
                    <td>
                        {% if empresa.tiene_paquetes_activos %}
                            <i class="fa fa-check text-success"></i>&nbsp;&nbsp;Si
                        {% else %}
                            <i class="fa fa-times text-muted"></i>&nbsp;&nbsp;No
                        {% endif %}
                    </td>
                    <td>
                        {% if not empresa.tiene_paquetes_activos %}
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times"></i>&nbsp;&nbsp;Borrar</a>
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

{% endblock %}