{% extends 'base/base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}
    Paquetes
{% endblock %}


{% block styles %}

    <style>
        .avatar {
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }
    </style>

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 style="margin-bottom: 25px;">
                    Lista de paquetes
                    <a class="btn btn-success pull-right" href="{% url 'superuser_app:crear_paquete' %}">Crear
                        paquete</a>
                </h2>
                {% for paquete in paquetes %}
                    <div class="well" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <span><strong>{{ paquete.empresa.nombre }}</strong>(Fecha de inicio: {{ paquete.fecha_inicio|naturalday }})</span>
                            </div>
                            <div class="col-sm-6 text-right">
                                {% if paquete.pagado %}
                                    <i class="fa fa-money text-success"></i>
                                    &nbsp;&nbsp;Pagado&nbsp;&nbsp;
                                {% else %}
                                    <i class="fa fa-money text-muted"></i>
                                    &nbsp;&nbsp;No pagado&nbsp;&nbsp;
                                {% endif %}

                                {% if paquete.activo %}
                                    &nbsp;&nbsp;<i class="fa fa-check text-info"></i>
                                    &nbsp;&nbsp;Activo
                                {% else %}
                                    <a href="{% url 'superuser_app:activar_paquete' paquete.id %}"
                                       class="btn btn-danger btn-xs" onclick="$.blockUI();">Activar</a>
                                {% endif %}
                                <a href="{% url 'superuser_app:borrar_paquete' paquete.id %}">
                                    &nbsp;&nbsp;<i class="fa fa-times text-muted"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

{% endblock %}