{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}

{% endblock %}



{% block styles %}

{% endblock %}



{% block content %}
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-4 col-centered">
            <form action="" id="prueba-form" method="post">
                {% for field in prueba_form %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Enviar</button>
                <span class="btn btn-warning btn-validate">Validar</span>
            </form>
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
    <script>
    var validate_config = {
        errorElement: "label",
        errorClass: 'text-danger',
        errorPlacement: function (error, element) {
            var $errorPlace = element.closest('div.form-group');
            //$errorPlace.addClass('has-error');
            error.appendTo($errorPlace);
        },
        rules: {
            "email": {
                required: true,
                email: true
            },
            "nombre_empresa": {
                required: true,
                minlength: 4
            },
            "telefono": {
                required: true
            }
        },
        messages: {
            "nombre_empresa": {
                required: "Debes ingresar el nombre de tu empresa",
                minlength: "El nombre debe contener al menos 4 caracteres"
            },
            "telefono": {
                required: "Debes ingresar un teléfono de contacto de tu empresa",
                minlength: "El teléfono debe contener al menos 4 caracteres"
            },
            "email": {
                required: "Debes ingresar un correo de administrador"
            }
        }
    };
    $(document).ready(function () {
        //validation rules
        $("#prueba-form").validate(validate_config);
    });

    $('.btn-validate').click(function () {
        var f = $("#prueba-form").validate(validate_config);
        if(f.valid()){
            alert('Valid');
        }
    });
    </script>
{% endblock %}