{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
    Agregar Equipo
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-tagsinput.css' %}"/>
    <style>
        .bootstrap-tagsinput {
            width: 100%;
            height: 200px;
        }
    </style>
{% endblock %}


{% block content %}
    <form action="" method="post" id="form-nuevos-usuarios">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ id }}">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>
                                Lista de monitores agregados
                            </h3>
                            {% if monitores %}
                                <table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th>Eliminar</th>
                                        <th>Correo</th>
                                        <th>Estado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for monitor in monitores %}
                                        <tr class="active">
                                            <td>
                                                <span class="btn btn-link btn-xs"
                                                      onclick="ajax_eliminar_monitor({{ id }}, '{{ monitor.integrante }}')"><i
                                                        class="fa fa-times text-danger"></i></span>
                                            </td>
                                            <td>{{ monitor.integrante }}</td>
                                            <td>{{ monitor.estado }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No hay monitores agregados</p>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            {% if monitores_disponibles > 0 %}
                                <h3>Agregar nuevos monitores</h3>
                                <h5>
                                    Monitores disponibles para agregar: <span
                                        id="cantidad_correos_monitores">{{ monitores_disponibles }}</span>
                                </h5>

                                <div class="form-group">
                                    <label for="lista-correos-monitores">Lista de correos: (Separa cada correo con un
                                        espacio)</label>
                                    <input id="lista-correos-monitores" name="lista_correos_monitores"
                                           class="form-control input-xxlarge"
                                           type="text" data-role="tagsinput">
                                </div>
                            {% else %}
                                <h3>Gracias por asignar a los monitores</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>
                                Lista de usuarios agregados
                            </h3>
                            {% if integrantes %}
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Correo</th>
                                        <th>Ejercicio</th>
                                        <th>Hora</th>
                                        <th>Acciones</th>
                                        <th>Estado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for integrante in integrantes %}
                                        <tr class="active">
                                            <td>

                                                <span class="btn btn-link btn-xs"
                                                      onclick="ajax_eliminar_usuario({{ id }}, {{ integrante.id }})"><i
                                                        class="fa fa-times text-danger"></i></span>

                                            </td>
                                            <td>{{ integrante.correo }}</td>
                                            <td>{{ integrante.ejercicio }}</td>
                                            <td>{{ integrante.hora }}</td>
                                            <td><span class="btn btn-warning btn-xs">Enviar aviso</span></td>
                                            <td>{{ integrante.activo }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No hay usuarios agregados</p>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            {% if usuarios_disponibles %}
                                <h3>Agregar nuevos usuarios</h3>
                                <h5>
                                    Usuarios disponibles para agregar: <span
                                        id="cantidad_correos_usuarios">{{ usuarios_disponibles }}</span>
                                </h5>

                                <div class="form-group">
                                    <label for="lista-correos-usuarios">Lista de correos: (Separa cada correo con un
                                        espacio)</label>
                                    <input id="lista-correos-usuarios" name="lista_correos_usuarios"
                                           class="form-control input-xxlarge"
                                           type="text" data-role="tagsinput">
                                </div>
                            {% else %}
                                <h3>Gracias por agregar usuarios</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 40px;">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success pull-right" style="margin-top: 20px;">
                        Guardar cambios
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block scripts %}
    <script src="{% static 'base/js/bootstrap-tagsinput.min.js' %}"></script>
    <script>
        // Script para

        function ajax_eliminar_usuario(id_paquete, id_usuario) {
            $.ajax({
                url: "{% url 'usuarios_app:eliminar' %}",
                type: 'POST',
                data: {
                    'paquete': id_paquete,
                    'usuario_muerto': id_usuario
                },
                success: function () {
                    location.reload();
                }
            });
        }

        var $input_lista_correos_usuarios = $('input#lista-correos-usuarios');
        $input_lista_correos_usuarios.tagsinput({
            confirmKeys: [13, 32, 188, 44],
            trimValue: true,
            maxTags: {{ usuarios_disponibles }}
        });
        $input_lista_correos_usuarios.on('itemAdded', function (event) {
            var val_length = $input_lista_correos_usuarios.tagsinput('items').length;
            $('#cantidad_correos_usuarios').html(parseInt({{ usuarios_disponibles }}) - val_length);
        });
        $input_lista_correos_usuarios.on('itemRemoved', function (event) {
            var val_length = $input_lista_correos_usuarios.tagsinput('items').length;
            $('#cantidad_correos_usuarios').html(parseInt({{ usuarios_disponibles }}) - val_length);
        });

        $input_lista_correos_usuarios.on('itemAdded', function (event) {
            var tag = event.item;
            if (!isValidEmailAddress(tag)) {
                $input_lista_correos_usuarios.tagsinput('remove', tag);
            }
        });
        // End Script para usuarios

        // Script para monitores

        function ajax_eliminar_monitor(id_paquete, email_monitor) {
            $.ajax({
                url: "{% url 'usuarios_app:eliminar' %}",
                type: 'POST',
                data: {
                    'paquete': id_paquete,
                    'monitor_muerto': email_monitor
                },
                success: function () {
                    location.reload();
                }
            });
        }

        var $input_lista_correos_monitores = $('input#lista-correos-monitores');
        $input_lista_correos_monitores.tagsinput({
            confirmKeys: [13, 32, 188, 44],
            trimValue: true,
            maxTags: {{ usuarios_disponibles }}
        });
        $input_lista_correos_monitores.on('itemAdded', function (event) {
            var val_length = $input_lista_correos_monitores.tagsinput('items').length;
            $('#cantidad_correos_monitores').html(parseInt({{ monitores_disponibles }}) - val_length);
        });
        $input_lista_correos_monitores.on('itemRemoved', function (event) {
            var val_length = $input_lista_correos_monitores.tagsinput('items').length;
            $('#cantidad_correos_monitores').html(parseInt({{ monitores_disponibles }}) - val_length);
        });

        $input_lista_correos_monitores.on('itemAdded', function (event) {
            var tag = event.item;
            if (!isValidEmailAddress(tag)) {
                $input_lista_correos_monitores.tagsinput('remove', tag);
            }
        });
        // End Script para usuarios

        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(emailAddress);
        }

        $('.bootstrap-tagsinput > input').keydown(function (event) {
            if (event.keyCode == 13 || event.which == 13) {
                event.preventDefault();
            }
            if ((event.keyCode || event.which) == 9) {
                $(this).focus();
                console.log('test');
            }
        });

    </script>

{% endblock %}