{% extends 'base/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Administrador
{% endblock %}

{% block content %}
    <div class="container">
        {% if paquetes %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-success text-center">
                        <h3 style="margin: 0;">¡Bienvenido, administrador de <b>{{ empresa.nombre|upper }}!</b></h3>
                        <input type="hidden" value="{{ slug }}" id="slg">
                    </div>
                    <h1>Paquetes de {{ empresa.nombre|upper }}: </h1>
                </div>
            </div>
            <div class="row">
                {% for paquete in paquetes %}
                    <div class="col-md-4">
                        <div class="well">
                            <p><strong>Inicio:</strong> {{ paquete.fecha_inicio|naturalday }}</p>
                            <p><strong>Duración:</strong> {{ paquete.duracion }} días</p>
                            <p><strong>Finaliza:</strong> {{ paquete.fecha_fin }} </p>
                            <p><strong>Usuarios:</strong> {{ paquete.cantidad_usuarios }}/{{ paquete.godinez }}</p>
                            <p><strong>Monitores:</strong> {{ paquete.cantidad_monitores }}/{{ paquete.monitores }}</p>
                            {% if paquete.activo %}
                                <p><strong>Estado:</strong> <i class="fa fa-play text-info"></i>&nbsp;&nbsp;Activo</p>
                            {% else %}
                                <p><strong>Estado:</strong> <i class="fa fa-pause text-muted"></i>&nbsp;&nbsp;Inactivo
                                </p>
                            {% endif %}
                            <form action="{% url "usuarios_app:configurar_usuarios" %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ paquete.id }}"/>
                                <button class="btn btn-success btn-block" type="submit">Configurar usuarios</button>
                            </form>
                            <br>
                            <form action="#" method="post">
                                {% comment %}
                                    agregar la funcion que mande un correo ala chava para una extension o un nuevo
                                    paquete a esta empresa
                                {% endcomment %}
                                {% csrf_token %}
                                <button class="btn btn-success btn-block" type="submit">Solicitar Promocion</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% else %}
            <div class="jumbotron">
                <h2><i class="fa fa-clock-o text-muted"></i>&nbsp;&nbsp;Aún no tienes paquetes activos</h2>
                <p>Por favor, espera a que tu paquete sea activado, te notificaremos al correo: {{ user.email }}</p>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    <script>

    </script>

{% endblock %}