{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Monitor
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-tagsinput.css' %}">
    <style>
        .bootstrap-tagsinput {
            width: 100%;
            height: 200px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        {% comment %} PARA QUE EL USUARIO PUEDA RECIBIR NOTIFICACIONES GLOBALES SE ENVIA ESTE PARAMETRO AL ROUTER DE
            MENSAJES{% endcomment %}
        <input type="hidden" value="{{ user.id }}" id="slg">

        <div class="alert alert-success text-center">
            <h3 style="margin: 0;">¡Bienvenido, monitor de <b>{{ nombre_empresa|upper }}!</b></h3>
            <input type="hidden" value="{{ slug }}" id="slg">
        </div>

        <div class="row" style="margin: 40px auto;">
            {% if integrantes %}
                <div class="col-sm-6">
                    <h3>
                        Lista de usuarios agregados
                    </h3>
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Correo</th>
                            <th>Ejercicio</th>
                            <th>Hora</th>
                            <th>Acciones</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for integrante in integrantes %}
                            {% if integrante %}
                                <tr>
                                    <td>
                                        <form action="{% url 'usuarios_app:eliminar' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="usuario_muerto" id="usuario_muerto"
                                                   value="{{ integrante.id }}"/>
                                            <button class="btn btn-link btn-xs" type="submit"><i
                                                    class="fa fa-times text-danger"></i></button>
                                        </form>
                                    </td>
                                    <td>{{ integrante.correo }}</td>
                                    <td>{{ integrante.ejercicio }}</td>
                                    <td>{{ integrante.hora }}</td>
                                    <td><span class="btn btn-warning btn-xs">Enviar aviso</span></td>
                                    <td>{{ integrante.activo }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <div class="col-sm-6">

                <h3>Agregar nuevos usuarios</h3>
                <h5>Usuarios disponibles para agregar: <span id="cantidad_correos">{{ usuarios_disponibles }}</span>
                </h5>

                <form action="" method="post" id="form-nuevos-usuarios">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Lista de correos: (Separa cada correo con un espacio)</label>
                        <input id="lista-correos" name="lista_correos_nuevos" class="form-control input-xxlarge"
                               type="text" data-role="tagsinput">
                    </div>
                    <button type="submit" class="btn btn-success pull-right" style="margin-top: 20px;">Agregar nuevos
                        usuarios
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'base/js/bootstrap-tagsinput.min.js' %}"></script>

    <script>
        var $input_lista_correos = $('input#lista-correos');
        $input_lista_correos.tagsinput({
            confirmKeys: [13, 32, 188, 44],
            trimValue: true,
            maxTags: {{ usuarios_disponibles }}
        });
        $input_lista_correos.on('itemAdded', function (event) {
            var val_length = $input_lista_correos.tagsinput('items').length;
            $('#cantidad_correos').html(parseInt({{ usuarios_disponibles }}) - val_length);
        });
        $input_lista_correos.on('itemRemoved', function (event) {
            var val_length = $input_lista_correos.tagsinput('items').length;
            $('#cantidad_correos').html(parseInt({{ usuarios_disponibles }}) - val_length);
        });

        $('.bootstrap-tagsinput > input').keydown(function (event) {
            if (event.keyCode == 13 || event.which == 13) {
                event.preventDefault();
            }
            if ((event.keyCode || event.which) == 9) {
                $(this).focus();
                console.log('test');
            }
        });

        $input_lista_correos.on('itemAdded', function (event) {
            var tag = event.item;
            if (!isValidEmailAddress(tag)) {
                $input_lista_correos.tagsinput('remove', tag);
            }
        });

        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(emailAddress);
        }

    </script>


{% endblock %}