{% extends 'base/base.html' %}
{% load staticfiles %}


{% block title %}
    Descargar KarussApp
{% endblock %}


{% block styles %}
    <style>
        img {
            margin: 40px auto;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-8 col-md-6 col-centered text-center">
                <h1>Descarga KarussApp</h1>
                <p class="lead">Recibe las notificaciones en tu escritorio para poder continuar con tus sesiones de yoga
                    en Karussa.</p>
            </div>
        </div>
        <form action="{% url 'instaladores_app:post_descargar_instalador' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4 text-center">
                    <h3>Windows</h3>
                    <img src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/128/OS_Windows_8.png"
                         alt="windows-icon" class="img-responsive">
                    <button type="submit" name="SO" value="windows" class="btn btn-primary btn-lg">Descargar para
                        Windows
                    </button>
                </div>
                <div class="col-sm-4 text-center">
                    <h3>Mac OS X</h3>
                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-system/512/mac_os_X-128.png"
                         alt="windows-icon" class="img-responsive">
                    <button type="submit" name="SO" value="MAC" class="btn btn-primary btn-lg">Descargar para Mac OS X
                    </button>
                </div>
                <div class="col-sm-4 text-center">
                    <h3>Ubuntu</h3>
                    <img src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/128/OS_Ubuntu.png"
                         alt="windows-icon" class="img-responsive">
                    <button type="submit" name="SO" value="linux" class="btn btn-primary btn-lg">Descargar para Ubuntu
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}