{% extends 'base/base.html' %}
{% load staticfiles %}
{% load embed_video_tags %}
{% block title %}
    Video | {{ nombreVideo }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <video name="play-video" id="play-video" autoplay class="img-responsive">
                    <source src="" type="video/webm"/>
                </video>
                <input type="hidden" name="random" value="123">
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $("video#play-video").on("contextmenu", function () {
                return false;
            });
        });
        $(function Iniciar() {
            var oVideo = document.getElementById("play-video");      //video element
            var oInput = 'http://localhost' + '{% url "videos_app:stream"  llaveRandom %}';
            console.log(oInput);
            oVideo.src = oInput;
            oVideo.load();
            oVideo.play();
            //$('#play-video source').attr('src', '{{ host }}{% url "videos_app:stream"  llaveRandom %}');
            //$('#play-video')[0].load();
            //$('#play-video').attr('autoplay', true);
        })
    </script>

{% endblock %}
