{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Iniciar sesión
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Inicia sesión: <strong>{{ empresa.nombre }}</strong></h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="post">

                            {% csrf_token %}
                            {% for field in login_form %}
                                <div class="form-group">
                                    <label for="">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.has_error %}
                                        <p class="text-danger">
                                            {{ field.error }}
                                        </p>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <button class="btn btn-success btn-block btn-progress" type="submit">Iniciar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}