{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}perfil empresa{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Hola {{ usuario.get_short_name }}</h2>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}
