<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>KARUSSA YOGA | Paquete creado</title>
</head>
<body>

    <h3>El paquete para la empresa {{ nombre_empresa }} ha sido creado con exito</h3>
    <a href="{{ url_accion }}"> Entra y asigna a tu equipo que podra acceder al contenido de karussa yoga</a>

</body>
</html>