<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>KARUSSA YOGA | Has sido asignado como {{ nivel_usuario }}</title>
</head>
<body>

<h3>Has sido asignado como {{ nivel_usuario }} para la empresa {{ nombre_empresa }} </h3>
<h3>Tu contraseña es:{{ password }}</h3>
<a href="{{ url_accion }}">Entra para cambiar tu contraseña y terminar el proceso</a>

</body>
</html>
