body, html {
    width: 100%;
}
.navbar {
    border-radius: 0;
    margin-bottom: 40px;
}

table.table > tbody > tr > td {
    vertical-align: middle;
}

#progress-page {
    position: relative;
    top: -40px;
}
.text-center {
    text-align: center !important;
}

.pointer {
    cursor: pointer;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
